name: Deploy dashboard Service

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # ---------------- VERSION VALIDATION ----------------
      - name: Check service compatibility
        run: |
          echo "Reading compatibility file..."
          cat compatibility.json

          echo "Fetching running service versions..."

          ADMIN_VERSION=$(curl -s http://3.110.13.40:4000/service-info | jq -r '.version')
          TESTENV_VERSION=$(curl -s http://3.110.13.40:5000/service-info | jq -r '.version')

          echo "Admin running version: $ADMIN_VERSION"
          echo "Testenv running version: $TESTENV_VERSION"

          REQUIRED_ADMIN=$(jq -r '.compatible_with.admin' compatibility.json)
          REQUIRED_TESTENV=$(jq -r '.compatible_with.testenv' compatibility.json)

          echo "Dashboard requires admin: $REQUIRED_ADMIN"
          echo "Dashboard requires testenv: $REQUIRED_TESTENV"

          # Remove >= symbol
          REQUIRED_ADMIN=${REQUIRED_ADMIN#>=}
          REQUIRED_TESTENV=${REQUIRED_TESTENV#>=}

          # Version compare function
          verlte() {
            [ "$1" = "$2" ] && return 0
            [  "$(printf '%s\n' "$1" "$2" | sort -V | head -n1)" = "$1" ]
          }

          echo "Checking admin compatibility..."
          if ! verlte "$REQUIRED_ADMIN" "$ADMIN_VERSION"; then
            echo "❌ Admin service version incompatible"
            exit 1
          fi

          echo "Checking testenv compatibility..."
          if ! verlte "$REQUIRED_TESTENV" "$TESTENV_VERSION"; then
            echo "❌ Testenv service version incompatible"
            exit 1
          fi

          echo "✅ All services compatible. Proceeding deployment..."

      # ---------------- DEPLOY ----------------
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            set -e
            cd /home/ubuntu/apps/dashboard
            git fetch origin main
            git reset --hard origin/main
            npm install --production
            pm2 restart dashboard || pm2 start server.js --name dashboard
            pm2 save
